body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
    max-height: 40px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: red;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}


/* Dropdown Menu */
.option {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.dropdown {
    background-color: #c0cad0;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
}

.content a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

.content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .content {
    display: block;
}
